.table-wrap {
  min-height: 350px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  text-align: left;
  padding: 15px;
}
td {
  padding: 12px 15px;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.state-message {
  margin-top: 10px;
  color: #555;
}

.state-message.error {
  color: #a13f3f;
}
